/*Archivos CSS dan formato al contenido*/

body {
	margin: 0em;
	font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5{
	font-family: 'Leckerli One', cursive;
}

/*Configuracion de una clase*/
.cover {
	height: 400px;
	/*Especificacion de ubicacion de la imagen de fondo*/
	background-image: url(rsz_farzad-mohsenvand-tbuescuqmja-unsplash.jpg);
	color: white;		/*Color del texto*/
	background-size: cover;
	background-position: center;
	background-color: rgba(0, 0, 0, 0.1);	/*Especificacion de un color y opacidad*/
	background-blend-mode: darken;		/*Modo de fusion*/
}

.cover-small {
	height: 150px;
	background-blend-mode: normal;
}

.card{
	border: 0 !important;
	/*Colocacion de una sombra en la tarjeta*/
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.card-title{
	min-height: 2rem;
}

.card-text {
	min-height: 6rem;
}

.product-stripe, .slider {
	overflow-x: scroll;
	padding-top: 1rem;
	padding-bottom: 1rem; 
}

.stripe-container, .slider-container {
	display: flex;
}

.stripe-container .card {
	width: 320px;
	flex-shrink: 0;
	margin-right: 1rem;
}

.responsive-iframe {
	position: relative;
	padding-top: 56.25%;
}

.responsive-iframe iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.slider {
	overflow-x: hidden;
}

.slider-container {
	transform: translateX(0);
}

.image-container {
	width: 100%;
	padding-top: 56.25%;
	background-size: cover;
	background-position: center;
	flex-shrink: 0;
}