/*Archivos CSS dan formato al contenido*/

body {
	margin: 0em;
}

/*Configuracion de una clase*/
.cover {
	height: 400px;
	/*Especificacion de ubicacion de la imagen de fondo*/
	background-image: url(rsz_farzad-mohsenvand-tbuescuqmja-unsplash.jpg);
	color: white;		/*Color del texto*/
	background-size: cover;
	background-position: center;
	background-color: rgba(0, 0, 0, 0.1);	/*Especificacion de un color y opacidad*/
	background-blend-mode: darken;		/*Modo de fusion*/
}

.cover-small {
	height: 150px;
	background-blend-mode: normal;
}

.card{
	border: 0 !important;
	/*Colocacion de una sombra en la tarjeta*/
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.card-title{
	min-height: 3rem;
}

.card-text {
	min-height: 6rem;
}